/* #box{
    background-color: burlywood;
    color: aqua;
    text-align: center;
}

#img{
    height: 450;
    width: 450;
    border: 2px solid black;
    margin-left: 450px;
    margin-top: 450px;
    margin-bottom: 450px;
    
}
#box1{
    padding: 10px;
    height: 450px;
    width: 450px;
    border: 2px sloid black;
    align-items: center;
} */

p:hover{
    color: aqua;
    background-color: antiquewhite;
}
p::selection{
   background-color: yellowgreen;
}
/* h1:first-child{
    color: red;
} */
h1::first-letter{
    color: brown;
}
p::first-line{
    color: yellowgreen;
    font-weight: bold;
    font-size: 24px;
}
/* h1::after{
    content: " Hello";
} */
h1::before{
    content: "Hello ";
}